<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="this.onSubmit()" #valueForm="ngForm">
      <div class="form-group">
        <label for="value">Parameter</label>
        <input type="text" [(ngModel)]="this.request.parameter"
               class="form-control"
               id="value"
               name="value"
               placeholder="Enter your value"
               required #value="ngModel">
      </div>
      <div [hidden]="!value.pristine" class="alert alert-danger">Value is required</div>
      <button type="submit" [disabled]="!valueForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>

